
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;}

body{
    /* background-color: #00feba; */
    background:linear-gradient(135deg, #a3cec3, #3d308f);

}

.card{
    width: 90%;
    max-width: 470px;
    background:linear-gradient(135deg, #00feba, #5b548a);
    /* margin:100px auto 0; */
    /* margin: 0 auto; */
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.card .search{
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
}

.search input{
     border: 0;
     outline: 0;
     background: #ebfffc;
     padding: 10px 25px;
     border-radius: 25px;
     flex: 1;
     height: 60px;
     font-size: 18px;
    background: transparent;
    color: whitesmoke;
    font-size: 30px;
    overflow: auto;
    font-weight: bold;

     /* border: red solid; */
}

.search button {
    width: 100%;
    border: none;
    outline: none;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    font-size: 40px;
    color: aqua;

}

.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;

}
.weather h1{
    font-size: 50px;
    font-weight: 500;
    
    color: #ebfffc;;
}

.weather h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
    color:  #ebfffc;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 0 20px;
    color:  #ebfffc;

}


.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width:40px ;
    margin-right: 10px;
}

.humidity, .wind{
    font-style: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
}


.error{
    text-align: left;
    margin-left:10px;
    font-size: 14px;
    margin-top: 10px;
    color:  #ebfffc;
    display: none;

}
